@layout AdminLayout
@page "/Admin/Technique"

<div class="container pt-2">

    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center mh-100">
            <h3>Technique Overview</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (Techniques == null)
            {
                <div class="col-12 d-flex flex-column justify-content-center align-items-center mh-100">
                    <div class="spinner-border" role="status">
                    </div>
                    <span class="sr-only">Loading</span>
                    <p class="lead">Fetching data</p>
                </div>
            }
            else
            {
                <table id="@TableId" class="table table-light table-hover">

                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Name (Hangeul)</th>
                        <th scope="col">Name (Hanja)</th>
                        <th scope="col">Type</th>
                        <th scope="col">Category</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var technique in Techniques)
                    {
                        <tr>
                            <th scope="row">@technique.Name</th>
                            <td>@technique.NameHangeul</td>
                            <td>@technique.NameHanja</td>
                            <td>@technique.TechniqueType</td>
                            <td>@technique.TechniqueCategory</td>
                            <td></td> <!-- TODO: button for read/update/delete actions -->
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>

</div>